node_modules 
"dist/" 
"dist/" 
dist/ 
uploads/
downloads/
data/
*.sqlite
*.sqlite-shm
*.sqlite-wal
# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
!frontend/.env.production
.env
